
.wisp{
    position: absolute !important;
    right: 10px !important;
    top: 5px !important;
    z-index: 2;
}
.top-content{
    width: 100%;
    height: 98vh;
    background-image: url('/images/background2.jpg');
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
}

.navbar{
    color:white;
}
.nav-item a{
    color: white;
}

#Navbar{
    background-color: #45a049c4;
    height: 100px;
    margin-bottom: 80px;
    margin-top:0px;
}

#navbarNav{
    display:flex;
    justify-content: space-around;
    margin-left: 70px;
    margin-right: 70px;
    width:500px;
    font-size: 18px;
    font-weight: 600;
}
video
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;;
  filter: grayscale(0%);

}

.top-content{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.top-p{
    font-size: 2vw !important;
    word-wrap: break-word;
    display: block;
    width: 75%;
    color: white;
}
.top-div{
    display: flex;
    align-self:flex-start;
    margin-left:100px;
}

.heading{
    align-self:flex-start;
    margin-left: 100px;
}

.top-h1{
    font-size: 5vw !important;
    word-wrap: break-word;
    text-align: Left;
    margin-bottom: 2rem;
    color: white;
}
.two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7vh;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    padding: 1.5vw;
}
.two-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
}
.two-head h1{
    font-family: 'Martian Mono', monospace;
    font-size: 5vw;
    color: #1f1c1f;
    text-align: center;
    text-wrap: wrap;
}

.three{
    padding: 0px !important;
}

.card1{
    width: 400px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue; 
}
.card1 img{
    z-index: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    opacity: 90%;
}
.card1:hover{
    transition-duration: 1s;
    transform: scale(1.05);
    background-size: cover;
    color: whitesmoke;
    opacity: 75%;
}
.card1 a{
    font-family: 'Satisfy', cursive;
    position:absolute;
    text-decoration: none;
    font-size: 2.8rem;
    color: black;
    word-wrap: break-word;
    z-index: 1;
    color: #3b363b;
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #ffff, 0 0 30px #ffff, 0 0 40px #ffff, 
                 0 0 50px #3b363b, 0 0 60px #3b3b3b, 0 0 70px #3b3b3b;
}

.name-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7vh;
    width: 100%;
    background-color: #B5D5C5;
}
.name-two-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
    margin-bottom: 3rem;
}
.name-two-head h1{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 6vw;
    color: antiquewhite;
    margin-top: 2rem;
}

.name-card1{
    width: 400px;
    height: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3);
    background-color: aliceblue;
    
}
.name-card1 img{
    border-radius: 25px 25px 0px 0px;
}
.name-card1-text{
    padding: auto;
}
.name-card1 a{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    font-size: 2rem;
    color: black;
    word-wrap: break-word;
}


.disease-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    
    padding-bottom: 50px;
    background-color: #B5D5C5;
}
.disease-two-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 2vw;
}
.disease-two-head h1{
    font-family: 'Roboto Mono', monospace;
    margin-top: 1.5rem;
    font-size: 5rem;
    color: antiquewhite;
}

.disease-back{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    flex-wrap: wrap;
}

.disease-main{
    position: relative;
    height: 350px;
    width: 450px;
    display: flex;
    justify-content: center;
    z-index: 0;
  }
  .disease-image{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #85586F;
    width: 300px;
    height: 240px;
    z-index: 1;
    border-radius: 25px;
    box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3);
    transition-duration: 0.5s;
  }
  .disease-image img{
    border-radius: 25px;
  }
  .disease-content{
    position: absolute;
    background-color: #fff;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 213px;
    height: 100px;
    top: 11.5rem;
    border-radius: 15px;
    box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3);
    transition-duration: 0.5s;
  }
  .disease-image:hover + .disease-content {
    top: 15rem;
    transform: scale(0.95);
}
.disease-image:hover{
    transform: scale(1.15);
}

  .disease-content a{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: black;
}

  /* Solution */

.solution-two-card img{
    position: sticky;
    top: 0;
    width: 400px;
    height: 400px;
  }
.solution-img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 100px;
}
.solution-two{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.solution-two-head{
    font-size: 4rem;
    align-items: center;
    padding: 2rem;
    color: #fff;
    border-radius: 10px;
}
.solution-two-head h1{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: #435334;
    margin: auto;
    width: fit-content;
    padding: 2rem;
    color: #fff;
    border-radius: 10px;
}
.solution-content{
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    margin-bottom: 3rem;
}
.solution-content p{
    margin-bottom: 0.5rem !important;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.solution-two-card-sticky{
    position: sticky;
    top: 100px;
}
.solution-two-card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 2vw;
    box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3);
    padding: 2rem;
    color: black;
    border-radius: 10px;
    width: 75%;
    height: max-content;
}

.solution-content h1{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin-top: 5px !important;
    font-size: 3rem !important;
}

/* wheather */
.three{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    padding: 10px;
}
.weather{
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-content: space-around;
    justify-content: space-between;
}

.lside{

    grid-column: span 1;
    grid-row: span 3;
}
.rside{
    grid-column: span 1;
    grid-row: span 3;
}
.Weather-card1{
    background-color: #9e1d1d00;
    border-radius: 10px;
}

/* footer */

footer{
    background-color: lightgreen;
    
}
 

@media only screen and (max-width: 600px) {
    .top-p{
        font-size: 6vw !important;
        width: 80%; 
    }
    .top-h1{
        font-size: 11vw !important;
    }

    .card1{
        width: 90vw;
        height: 90vw;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aliceblue; 
    }
    .two-head h1{
        font-size: 9vw;
        color: antiquewhite;
        text-align: center;
        text-wrap: wrap;
    }

    .card1 a{
        text-decoration: none;
        font-size: 10vw;
        color: black;
        word-wrap: break-word;
    }

    .name-two{
        padding: 10vw;
    }

    .name-card1{
        width: 70vw;
        height: 60vw;
    }
    .name-card1 a{
        text-decoration: none;
        font-size: 10vw;
        color: black;
        word-wrap: break-word;
    }
    .name-two-head h1{
        font-size: 12vw;
        color: antiquewhite;
        margin-top: 2rem;
    }
    .disease-two-head h1{
        margin-top: 1.5rem;
        font-size: 12vw;
        color: antiquewhite;
    }
    .disease-back{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        flex-wrap: wrap;
    }
    .disease-main{
        position: relative;
        height: 70vw;
        width: 60vw;
        display: flex;
        justify-content: center;
        z-index: 0;
      }
      .disease-image{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #85586F;
        width: 60vw;
        height: 50vw;
        z-index: 1;
        border-radius: 25px;
        box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3);
        transition-duration: 0.5s;
      }
      .disease-image img{
        border-radius: 25px;
      }
      .disease-content{
        position: absolute;
        background-color: #fff;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        width: 50vw;
        height: 20vw;
        top: 40vw;
        border-radius: 15px;
        box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3);
        transition-duration: 0.5s;
      }
      .disease-image:hover + .disease-content {
        top: 50vw;
        transform: scale(0.95);
    }
    .disease-image:hover{
        transform: scale(1.15);
    }
    
      .disease-content a{
        text-decoration: none;
        color: black;
    }
    .solution-two-card p{
        font-size: 5vw;
    }
    .solution-two-card{
        width: 95%;
    }
    .solution-content h1{
        font-size: 8vw !important;
    }
  }

  .bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }

    .login{
        text-decoration: none;
        color: #1f1c1f;
    }

    #spinner   {  
           
        animation: spin 1s linear infinite;
        color: red;
    }
      
    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
      
.inline{
display: flex;
}
.center{
flex:left;
}
.spinner i{
margin-top: 10px;
margin-left: 50px;


}

  
  .donate-container {
    position: relative;
  }
  
  .donate-button {
    color: black;
    text-decoration: none;
    position: relative;
    top:8px;
    

    transition: background-color 0.3s;
  }
  
  .donate-button:hover {
    background-color: #45a049;
  }
  
  .donate-card {
    position: absolute;
    top: 0;
    left: 70px;
    width: fit-content; /* Adjust width as needed */
    height: fit-content; /* Adjust height as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
  }
  
  .donate-container:hover .donate-card {
    opacity: 1;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
  